{% extends 'wide.html.twig' %}

{% block title %} Добавить материал {% endblock %}
{% block header %} Добавить материал {% endblock %}
{% block body %}

	<a href="{{ path('content_list', {'type': type}) }}">Назад к материалам</a>
	<br>
	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}<br>
	<form method='post' enctype='multipart/form-data' action='{{ path('content_add', {'type': type}) }}'>
		<label>Заголовок<br><input type='text' name='title' value='{{ lastTitle }}'></label>
		<label>Тип материала<br>
			<select name="description">
				<option value="Факты">Факты</option>
				<option value="Переводы">Переводы</option>
				<option value="Интервью">Интервью</option>
				<option value="Другое">Другое</option>
			</select>
		</label>
		<label>Контент<br>
		{% include 'bbcode.html.twig' %}
			<textarea name='article'>{{ lastArticle }}</textarea></label>
		<input type="file" name="userfile"><br>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
		<input type='submit' name='submit_content_add' value='Добавить материал'>
	</form>

{% endblock %}