{% extends 'wide.html.twig' %}

{% block title %} Удалить ссылку {% endblock %}
{% block header %} Удалить ссылку {% endblock %}
{% block body %}

	<a href="{{ path('content_list', {'type': type, 'page': getPageNumber()}) }}">Назад к ссылкам</a>
	<br><br>
	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

		<div class="content">
			<h3>{{ content.title }}</h3>
			{% if content.image %}
				<div class="content-image">
					<img src="../../public/images/content/{{ type }}/{{ content.image }}">
				</div>
			{% endif %}
			<div class="content-article">
				{{ textMode(content.article)|raw|nl2br }}
			</div>
		</div>
	<form method='post' action='{{ path('content_delete', {'type': type, 'id': content.id }) }}'>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
		<input type='submit' name='submit_content_delete' value='Удалить ссылку'>
	</form>

{% endblock %}