<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'> 	
	<title>{% block title %}SODOMANIA{% endblock %} :: SODOMANIA</title>
	{% block favicon %}
		<link rel="shortcut icon" type="image/x-icon" href="/../public/images/favicon/favicon.ico">
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{ app.path }}/css/style.css?v=180526">
	<link rel="stylesheet" type="text/css" href="{{ app.path }}/css/fancybox.min.css">
	{% block styles %}{% endblock %}
</head>
<body>
	<div class="wrapper">
		<header><img src="{{ app.path }}/images/interface/head.jpg"></header>
		<nav>
			<ul>
				<li class="logo">
					<a href="/">
						<img src="{{ app.path }}/images/interface/logo.png">
					</a>
					<div class="nav-toggle">
						<i class="fa fa-bars color-white" aria-hidden="true"></i>
					</div>
				</li>
				<li><a href="{{ path('content_list', {'type': 'news'}) }}">НОВОСТИ</a></li>
				<li><a href="{{ path('content_list', {'type': 'band'}) }}">ГРУППА</a></li>
				<li><a href="{{ path('content_list', {'type': 'history'}) }}">ИСТОРИЯ</a></li>
				<li><a href="{{ path('content_list', {'type': 'albums'}) }}">АЛЬБОМЫ</a></li>
				<li><a href="{{ path('content_list', {'type': 'stuff'}) }}">МАТЕРИАЛЫ</a></li>
				<li><a href="{{ path('guestbook') }}">ГОСТЕВАЯ</a></li>				
				<li><a href="{{ path('content_list', {'type': 'links'}) }}">ССЫЛКИ</a></li>
				{% if app.user %}
					<li><a href="{{ path('user_profile') }}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
					<li><a href="{{ path('auth_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
				{% else %}
					<li><a href="{{ path('auth_login') }}">ВХОД</a></li>
				{% endif %}
			</ul>
		</nav>
		<section>
			{% block section %}

			{% endblock %}
		</section>
		<footer>2013 - {{ 'now'|date('Y') }} © RUSSIAN FAN SITE SODOM </footer>
	</div>
	<script type="text/javascript" src="{{ app.path }}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ app.path }}/js/fancybox.min.js"></script>
	<script type="text/javascript" src="{{ app.path }}/js/libs.js?v=180526"></script>
	{% block scripts %}{% endblock %}
</body>
</html>