{% extends 'wide.html.twig' %}

{% block title %} Удалить альбом {% endblock %}
{% block header %} Удалить альбом {% endblock %}
{% block body %}

	<a href="{{ path('content_list', {'type': type, 'page': getPageNumber()}) }}">Назад к альбомам</a>
	<br><br>
	{% if error %}
		<div class="message-error">{{ error }}</div>
	{% endif %}

		<div class="content content-albums">
			<h3>{{ content.title }}</h3>
			<table>
				<tr>
					<td>
					{% if content.image %}
						<div class="content-image">
							<img src="{{ app.path }}/images/content/{{ type }}/{{ content.image }}">
						</div>
					{% else %}
						<div class="content-image">
							<img src="{{ app.path }}/images/interface/no-image-album.jpg">
						</div>						
					{% endif %}
					</td>
					<td>
					<div class="content-article">
						{{ textMode(content.article)|raw|nl2br }}
					</div>
					</td>
				</tr>
			</table>
		</div>
	<form method='post' action='{{ path('content_delete', {'type': type, 'id': content.id }) }}'>
		<input type='hidden' name='_csrf_token' value='{{ csrf_token() }}'>
		<input type='submit' name='submit_content_delete' value='Удалить альбом'>
	</form>

{% endblock %}