{% extends 'narrow.html.twig' %}

{% block title %} Альбомы {% endblock %}
{% block header %} АЛьбомы {% endblock %}
{% block body %}

	{% if isPermission('content-control-all') or isPermission('content-control-own') %}
		<a href="{{ path('content_add', {'type': type}) }}">
			<i class="fa fa-plus-square" aria-hidden="true"></i> Добавить альбом
		</a>
		<br><br>
	{% endif %}

	{% for content in contents %}
		<div class="content content-albums">
			<h3>{{ content.title }}</h3>
			<table>
				<tr>
					<td>
					{% if content.image %}
						<div class="content-image">
					<a data-fancybox="gallery" href="../../public/images/content/{{ type }}/{{ content.image }}">
						<img src="../../public/images/content/{{ type }}/{{ content.image }}">
					</a>
						</div>
					{% else %}
						<div class="content-image">
							<img src="../../public/images/interface/no-image-album.jpg">
						</div>						
					{% endif %}
					</td>
					<td>
					<div class="content-article">
						{{ textMode(content.article)|raw|nl2br }}
					</div>
					<div class="content-info">
						{% if isPermission('content-control-all') or (isPermission('content-control-own') and content.user_id == app.user.id) %}
						<span class='content-control'>
							<a href='{{ path('content_edit', {'type': type, 'id': content.id}) }}'>
								<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a>
							<a href='{{ path('content_delete', {'type': type, 'id': content.id}) }}'>
								<i class="fa fa-trash-o" aria-hidden="true"></i>
							</a>
						</span>
						{% endif %}
					</div>
					</td>
				</tr>
			</table>
		</div>
	{% endfor %}

	<br><br>
	{# page navigation #}
	{% set page_name = 'content_list' %}
	{% include 'pagenavigation.html.twig' %}

{% endblock %}